In [11]:
import pandas as pd
import os
from tqdm import tqdm_notebook
from sqlalchemy import create_engine

In [13]:
pwd = os.getcwd()

engine = create_engine('sqlite:///stock_data.db', echo=True)
sqlite_connection = engine.connect()

2021-01-18 21:29:27,633 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-01-18 21:29:27,642 INFO sqlalchemy.engine.base.Engine ()
2021-01-18 21:29:27,647 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-01-18 21:29:27,658 INFO sqlalchemy.engine.base.Engine ()

In [5]:
directory = pwd + "/data/bars_adj/"

In [8]:
final_data = []

for i in tqdm_notebook(os.listdir(directory)):
    data = pd.read_csv(directory + i)
    final_data.append(data)

  0%|          | 0/505 [00:00<?, ?it/s]

In [15]:
export_data = pd.concat(final_data)
export_data

,date,volume,open,close,high,low,symbol,ratio,divPaymentDate,divRecordDate,...,split_factor,volume_adj,open_adj,close_adj,high_adj,low_adj,dollar_volume,tofactor,forfactor,splitDeclaredDate
0,2005-01-03,57029474.0,19.42,19.32,19.61,19.269,CSCO,NaN,NaN,NaN,...,1.0,57029474.0,19.42,19.32,19.61,19.269,1.101809e+09,NaN,NaN,NaN
1,2005-01-04,106024726.0,19.38,18.56,19.39,18.540,CSCO,NaN,NaN,NaN,...,1.0,106024726.0,19.38,18.56,19.39,18.540,1.967819e+09,NaN,NaN,NaN
2,2005-01-05,66116202.0,18.47,18.57,18.88,18.450,CSCO,NaN,NaN,NaN,...,1.0,66116202.0,18.47,18.57,18.88,18.450,1.227778e+09,NaN,NaN,NaN
3,2005-01-06,63670315.0,18.67,18.85,18.86,18.560,CSCO,NaN,NaN,NaN,...,1.0,63670315.0,18.67,18.85,18.86,18.560,1.200185e+09,NaN,NaN,NaN
4,2005-01-07,54446711.0,18.92,18.72,18.98,18.620,CSCO,NaN,NaN,NaN,...,1.0,54446711.0,18.92,18.72,18.98,18.620,1.019242e+09,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4023,2020-12-24,2028700.0,26.75,26.89,26.92,26.454,PPL,NaN,NaN,NaN,...,1.0,2028700.0,26.75,26.89,26.92,26.454,5.455174e+07,NaN,NaN,NaN
4024,2020-12-28,3842214.0,27.04,27.25,27.39,26.920,PPL,NaN,NaN,NaN,...,1.0,3842214.0,27.04,27.25,27.39,26.920,1.047003e+08,NaN,NaN,NaN
4025,2020-12-29,3655690.0,27.33,27.30,27.60,27.200,PPL,NaN,NaN,NaN,...,1.0,3655690.0,27.33,27.30,27.60,27.200,9.980034e+07,NaN,NaN,NaN
4026,2020-12-30,3662429.0,27.22,27.59,27.74,27.190,PPL,NaN,NaN,NaN,...,1.0,3662429.0,27.22,27.59,27.74,27.190,1.010464e+08,NaN,NaN,NaN
4027,2020-12-31,4263630.0,27.56,28.20,28.22,27.460,PPL,NaN,NaN,NaN,...,1.0,4263630.0,27.56,28.20,28.22,27.460,1.202344e+08,NaN,NaN,NaN

In [16]:
sqlite_table = "Stock_Ticker_Data"
export_data.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2021-01-18 21:31:16,626 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Stock_Ticker_Data")
2021-01-18 21:31:16,626 INFO sqlalchemy.engine.base.Engine ()
2021-01-18 21:31:16,630 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Stock_Ticker_Data")
2021-01-18 21:31:16,631 INFO sqlalchemy.engine.base.Engine ()
2021-01-18 21:31:16,638 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Stock_Ticker_Data" (
	"index" BIGINT,
	date TEXT,
	volume FLOAT,
	open FLOAT,
	close FLOAT,
	high FLOAT,
	low FLOAT,
	symbol TEXT,
	ratio FLOAT,
	"divPaymentDate" TEXT,
	"divRecordDate" TEXT,
	dividend FLOAT,
	"divDeclaredDate" TEXT,
	ratio_adj FLOAT,
	split_factor FLOAT,
	volume_adj FLOAT,
	open_adj FLOAT,
	close_adj FLOAT,
	high_adj FLOAT,
	low_adj FLOAT,
	dollar_volume FLOAT,
	tofactor FLOAT,
	forfactor FLOAT,
	"splitDeclaredDate" TEXT
)


2021-01-18 21:31:16,639 INFO sqlalchemy.engine.base.Engine ()
2021-01-18 21:31:16,660 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-18 21:31:16,663 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Stock_Ticker_Data_index" ON "Stock_Ticker_Data" ("index")
2021-01-18 21:31:16,665 INFO sqlalchemy.engine.base.Engine ()
2021-01-18 21:31:16,669 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-18 21:31:22,123 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-18 21:33:16,961 INFO sqlalchemy.engine.base.Engine INSERT INTO "Stock_Ticker_Data" ("index", date, volume, open, close, high, low, symbol, ratio, "divPaymentDate", "divRecordDate", dividend, "divDeclaredDate", ratio_adj, split_factor, volume_adj, open_adj, close_adj, high_adj, low_adj, dollar_volume, tofactor, forfactor, "splitDeclaredDate") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-01-18 21:33:17,101 INFO sqlalchemy.engine.base.Engine ((0, '2005-01-03', 57029474.0, 19.42, 19.32, 19.61, 19.269, 'CSCO', None, None, None, None, None, None, 1.0, 57029474.0, 19.42, 19.32, 19.61, 19.269, 1101809437.68, None, None, None), (1, '2005-01-04', 106024726.0, 19.38, 18.56, 19.39, 18.54, 'CSCO', None, None, None, None, None, None, 1.0, 106024726.0, 19.38, 18.56, 19.39, 18.54, 1967818914.56, None, None, None), (2, '2005-01-05', 66116202.0, 18.47, 18.57, 18.88, 18.45, 'CSCO', None, None, None, None, None, None, 1.0, 66116202.0, 18.47, 18.57, 18.88, 18.45, 1227777871.14, None, None, None), (3, '2005-01-06', 63670315.0, 18.67, 18.85, 18.86, 18.56, 'CSCO', None, None, None, None, None, None, 1.0, 63670315.0, 18.67, 18.85, 18.86, 18.56, 1200185437.75, None, None, None), (4, '2005-01-07', 54446711.0, 18.92, 18.72, 18.98, 18.62, 'CSCO', None, None, None, None, None, None, 1.0, 54446711.0, 18.92, 18.72, 18.98, 18.62, 1019242429.92, None, None, None), (5, '2005-01-10', 47696481.0, 18.66, 18.72, 18.84, 18.6, 'CSCO', None, None, None, None, None, None, 1.0, 47696481.0, 18.66, 18.72, 18.84, 18.6, 892878124.3199999, None, None, None), (6, '2005-01-11', 53959579.0, 18.57, 18.64, 18.72, 18.46, 'CSCO', None, None, None, None, None, None, 1.0, 53959579.0, 18.57, 18.64, 18.72, 18.46, 1005806552.56, None, None, None), (7, '2005-01-12', 67913197.0, 18.76, 18.93, 18.97, 18.709, 'CSCO', None, None, None, None, None, None, 1.0, 67913197.0, 18.76, 18.93, 18.97, 18.709, 1285596819.21, None, None, None)  ... displaying 10 of 1818940 total bound parameter sets ...  (4026, '2020-12-30', 3662429.0, 27.22, 27.59, 27.74, 27.19, 'PPL', None, None, None, None, None, None, 1.0, 3662429.0, 27.22, 27.59, 27.74, 27.19, 101046416.11, None, None, None), (4027, '2020-12-31', 4263630.0, 27.56, 28.2, 28.22, 27.46, 'PPL', None, None, None, None, None, None, 1.0, 4263630.0, 27.56, 28.2, 28.22, 27.46, 120234366.0, None, None, None))
2021-01-18 21:34:12,875 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-18 21:34:14,679 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-01-18 21:34:14,680 INFO sqlalchemy.engine.base.Engine ()