In [104]:
import pandas as pd
import os
from tqdm import tqdm_notebook
import requests

In [3]:
pwd = os.getcwd()

In [102]:
ALPACA_API_KEY = 'AKBUXI6D3LXKNW1FICFH'
#URL FOR TICKER Info
POLYGON_TICKER_INFO_URL = "https://api.polygon.io/v1/meta/symbols/{}/company?apiKey={}"

In [9]:
files = [pwd + f"\\data\\bars_adj\\{i}" for i in os.listdir(pwd + "\\data\\bars_adj")]
files[:3]

['c:\\Users\\shash\\OneDrive\\Documents\\Data Science-Shashank-PC\\trading_data\\data\\bars_adj\\A.csv',
 'c:\\Users\\shash\\OneDrive\\Documents\\Data Science-Shashank-PC\\trading_data\\data\\bars_adj\\AAL.csv',
 'c:\\Users\\shash\\OneDrive\\Documents\\Data Science-Shashank-PC\\trading_data\\data\\bars_adj\\AAP.csv']

In [33]:
data = []

for i in tqdm_notebook(files):
    data.append(pd.read_csv(i, parse_dates=[0]))

dataset = pd.concat(data)

dataset.drop(columns=["volume", "open", "close", "high", "low", "ratio"], inplace=True)
dataset

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=505.0), HTML(value='')))

,date,symbol,divPaymentDate,divRecordDate,dividend,divDeclaredDate,ratio_adj,split_factor,volume_adj,open_adj,close_adj,high_adj,low_adj,dollar_volume,splitDeclaredDate,tofactor,forfactor
0,2005-01-03,A,NaN,NaN,NaN,NaN,1.0,1.0,2417000.0,24.10,23.88,24.1800,23.50,5.771796e+07,NaN,NaN,NaN
1,2005-01-04,A,NaN,NaN,NaN,NaN,1.0,1.0,2680200.0,23.78,23.25,23.9900,23.05,6.231465e+07,NaN,NaN,NaN
2,2005-01-05,A,NaN,NaN,NaN,NaN,1.0,1.0,2789100.0,23.17,23.24,23.6500,23.12,6.481868e+07,NaN,NaN,NaN
3,2005-01-06,A,NaN,NaN,NaN,NaN,1.0,1.0,2209000.0,23.40,22.73,23.4400,22.69,5.021057e+07,NaN,NaN,NaN
4,2005-01-07,A,NaN,NaN,NaN,NaN,1.0,1.0,1877200.0,22.68,22.71,22.9500,22.63,4.263121e+07,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,2020-12-24,ZTS,NaN,NaN,NaN,NaN,1.0,1.0,434699.0,159.92,160.72,161.8699,159.85,6.986482e+07,NaN,NaN,NaN
1990,2020-12-28,ZTS,NaN,NaN,NaN,NaN,1.0,1.0,1541080.0,161.44,162.39,162.8300,160.31,2.502560e+08,NaN,NaN,NaN
1991,2020-12-29,ZTS,NaN,NaN,NaN,NaN,1.0,1.0,1202670.0,163.21,163.12,165.1000,162.40,1.961795e+08,NaN,NaN,NaN
1992,2020-12-30,ZTS,NaN,NaN,NaN,NaN,1.0,1.0,1023092.0,163.51,164.27,164.8000,163.16,1.680633e+08,NaN,NaN,NaN
1993,2020-12-31,ZTS,NaN,NaN,NaN,NaN,1.0,1.0,1302237.0,164.50,165.50,165.6750,163.23,2.155202e+08,NaN,NaN,NaN

In [36]:
date_filter = dataset[dataset["date"] >= "2019-09-01"]
date_filter

,date,symbol,divPaymentDate,divRecordDate,dividend,divDeclaredDate,ratio_adj,split_factor,volume_adj,open_adj,close_adj,high_adj,low_adj,dollar_volume,splitDeclaredDate,tofactor,forfactor
3691,2019-09-03,A,NaN,NaN,NaN,NaN,1.0,1.0,2252314.0,70.70,70.41,71.0400,69.481,1.585854e+08,NaN,NaN,NaN
3692,2019-09-04,A,NaN,NaN,NaN,NaN,1.0,1.0,1834352.0,70.94,70.86,71.2200,69.960,1.299822e+08,NaN,NaN,NaN
3693,2019-09-05,A,NaN,NaN,NaN,NaN,1.0,1.0,3014765.0,71.64,73.52,73.7100,71.640,2.216455e+08,NaN,NaN,NaN
3694,2019-09-06,A,NaN,NaN,NaN,NaN,1.0,1.0,3139078.0,73.69,74.28,74.3700,73.690,2.331707e+08,NaN,NaN,NaN
3695,2019-09-09,A,NaN,NaN,NaN,NaN,1.0,1.0,3009299.0,74.39,74.18,74.5900,73.670,2.232298e+08,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,2020-12-24,ZTS,NaN,NaN,NaN,NaN,1.0,1.0,434699.0,159.92,160.72,161.8699,159.850,6.986482e+07,NaN,NaN,NaN
1990,2020-12-28,ZTS,NaN,NaN,NaN,NaN,1.0,1.0,1541080.0,161.44,162.39,162.8300,160.310,2.502560e+08,NaN,NaN,NaN
1991,2020-12-29,ZTS,NaN,NaN,NaN,NaN,1.0,1.0,1202670.0,163.21,163.12,165.1000,162.400,1.961795e+08,NaN,NaN,NaN
1992,2020-12-30,ZTS,NaN,NaN,NaN,NaN,1.0,1.0,1023092.0,163.51,164.27,164.8000,163.160,1.680633e+08,NaN,NaN,NaN
1993,2020-12-31,ZTS,NaN,NaN,NaN,NaN,1.0,1.0,1302237.0,164.50,165.50,165.6750,163.230,2.155202e+08,NaN,NaN,NaN

In [92]:
def prior_month_yoy(test_data, date_past):

    test_data["5-Days Rolling Average (Close)"] = test_data["close_adj"].rolling(window=5).mean()
    test_data.drop(columns=["volume", "open", "close", "high", "low", "low_adj", "high_adj", "ratio_adj", "split_factor", "volume_adj"], inplace=True)
    test_data["MonthYear"] = test_data["date"].apply(lambda x: str(x.year) + "-" + str(x.month))
    test_data["PriorMonthYear"] = test_data["date"].apply(lambda x: str(x.year - 1) + "-" + str(x.month))

    current_test_data = test_data[test_data["date"].isin(test_data.groupby("MonthYear")["date"].max().reset_index()["date"])]

    new_dataset = pd.merge(left=current_test_data, right=current_test_data, how="left", left_on="PriorMonthYear", right_on="MonthYear", suffixes=["_current", "prior"])
    new_dataset.drop(columns=["open_adj_current", "close_adj_current", "dollar_volume_current", "MonthYear_current", "PriorMonthYear_current", "dateprior", "symbolprior", "open_adjprior", "close_adjprior", "dollar_volumeprior", "MonthYearprior", "PriorMonthYearprior"], inplace=True)
    new_dataset["YoYMonthChange"] = new_dataset["5-Days Rolling Average (Close)_current"] - new_dataset["5-Days Rolling Average (Close)prior"]

    new_dataset = new_dataset[new_dataset["date_current"] >= date_past]

    return new_dataset

In [98]:
data = []

for i in tqdm_notebook(files):
    temp = pd.read_csv(i, parse_dates=[0])
    temp_modified = prior_month_yoy(temp, "2020-01-01")
    data.append(temp_modified)

dataset = pd.concat(data)
dataset = dataset[["date_current", "symbol_current", "5-Days Rolling Average (Close)_current", "5-Days Rolling Average (Close)prior", "YoYMonthChange"]]
dataset

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=505.0), HTML(value='')))

,date_current,symbol_current,5-Days Rolling Average (Close)_current,5-Days Rolling Average (Close)prior,YoYMonthChange
180,2020-01-31,A,85.584,74.394,11.190
181,2020-02-28,A,78.212,79.034,-0.822
182,2020-03-31,A,71.584,79.850,-8.266
183,2020-04-30,A,76.566,77.152,-0.586
184,2020-05-29,A,86.424,67.336,19.088
...,...,...,...,...,...
90,2020-08-31,ZTS,159.610,126.062,33.548
91,2020-09-30,ZTS,161.598,124.876,36.722
92,2020-10-30,ZTS,160.276,126.234,34.042
93,2020-11-30,ZTS,161.488,120.892,40.596
94,2020-12-31,ZTS,163.200,132.752,30.448

In [115]:
company_name = []
industry = []

for i in tqdm_notebook(dataset["symbol_current"].unique()):
    information = requests.get(POLYGON_TICKER_INFO_URL.format(i, ALPACA_API_KEY)).json()
    information = dict(information)
    company_name.append(information.get("name"))
    industry.append(information.get("industry"))

ticker_info = pd.DataFrame({"Ticker":dataset["symbol_current"].unique(), "CompanyName":company_name, "Industry":industry})
ticker_info

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=505.0), HTML(value='')))

    Ticker                     CompanyName                        Industry
0        A       Agilent Technologies Inc.  Medical Diagnostics & Research
1      AAL    American Airlines Group Inc.                        Airlines
2      AAP      Advance Auto Parts Inc W/I    Retail - Apparel & Specialty
3     AAPL                      Apple Inc.               Computer Hardware
4     ABBV                     AbbVie Inc.              Drug Manufacturers
..     ...                             ...                             ...
500    YUM                Yum! Brands Inc.                     Restaurants
501    ZBH     Zimmer Biomet Holdings Inc.                 Medical Devices
502   ZBRA  Zebra Technologies Corporation             Industrial Products
503   ZION       Zions Bancorporation N.A.                           Banks
504    ZTS             Zoetis Inc. Class A              Drug Manufacturers

[505 rows x 3 columns]

In [116]:
enriched_dataset = pd.merge(dataset, ticker_info, how="left", left_on= "symbol_current", right_on="Ticker")
enriched_dataset

,date_current,symbol_current,5-Days Rolling Average (Close)_current,5-Days Rolling Average (Close)prior,YoYMonthChange,Ticker,CompanyName,Industry
0,2020-01-31,A,85.584,74.394,11.190,A,Agilent Technologies Inc.,Medical Diagnostics & Research
1,2020-02-28,A,78.212,79.034,-0.822,A,Agilent Technologies Inc.,Medical Diagnostics & Research
2,2020-03-31,A,71.584,79.850,-8.266,A,Agilent Technologies Inc.,Medical Diagnostics & Research
3,2020-04-30,A,76.566,77.152,-0.586,A,Agilent Technologies Inc.,Medical Diagnostics & Research
4,2020-05-29,A,86.424,67.336,19.088,A,Agilent Technologies Inc.,Medical Diagnostics & Research
...,...,...,...,...,...,...,...,...
6033,2020-08-31,ZTS,159.610,126.062,33.548,ZTS,Zoetis Inc. Class A,Drug Manufacturers
6034,2020-09-30,ZTS,161.598,124.876,36.722,ZTS,Zoetis Inc. Class A,Drug Manufacturers
6035,2020-10-30,ZTS,160.276,126.234,34.042,ZTS,Zoetis Inc. Class A,Drug Manufacturers
6036,2020-11-30,ZTS,161.488,120.892,40.596,ZTS,Zoetis Inc. Class A,Drug Manufacturers
6037,2020-12-31,ZTS,163.200,132.752,30.448,ZTS,Zoetis Inc. Class A,Drug Manufacturers

In [100]:
dataset.to_csv("test")

In [99]:
dataset[dataset["YoYMonthChange"] < 0]

,date_current,symbol_current,5-Days Rolling Average (Close)_current,5-Days Rolling Average (Close)prior,YoYMonthChange
181,2020-02-28,A,78.212,79.034,-0.822
182,2020-03-31,A,71.584,79.850,-8.266
183,2020-04-30,A,76.566,77.152,-0.586
73,2020-01-31,AAL,26.874,35.990,-9.116
74,2020-02-28,AAL,22.106,35.792,-13.686
...,...,...,...,...,...
187,2020-08-31,ZION,32.762,40.314,-7.552
188,2020-09-30,ZION,28.848,44.196,-15.348
189,2020-10-30,ZION,31.594,48.764,-17.170
190,2020-11-30,ZION,40.084,49.928,-9.844
191,2020-12-31,ZION,43.226,51.676,-8.450

# Test on Apple Data

In [70]:
test_data = pd.read_csv(pwd + "\\data\\bars_adj\\AAPL.csv", parse_dates=[0])

test_data["5-Days Rolling Average (Close)"] = test_data["close_adj"].rolling(window=5).mean()
test_data.drop(columns=["volume", "open", "close", "high", "low", "ratio", "splitDeclaredDate", "tofactor", "forfactor", "divPaymentDate", "divRecordDate", "low_adj", "high_adj", "dividend", "divDeclaredDate", "ratio_adj", "split_factor", "volume_adj"], inplace=True)
test_data["MonthYear"] = test_data["date"].apply(lambda x: str(x.year) + "-" + str(x.month))
test_data["PriorMonthYear"] = test_data["date"].apply(lambda x: str(x.year - 1) + "-" + str(x.month))
test_data

,date,symbol,open_adj,close_adj,dollar_volume,5-Days Rolling Average (Close),MonthYear,PriorMonthYear
0,2005-01-03,AAPL,1.156786,1.130179,7.824056e+08,NaN,2005-1,2004-1
1,2005-01-04,AAPL,1.139286,1.141786,1.252760e+09,NaN,2005-1,2004-1
2,2005-01-05,AAPL,1.149107,1.151786,7.840540e+08,NaN,2005-1,2004-1
3,2005-01-06,AAPL,1.155089,1.152679,8.116494e+08,NaN,2005-1,2004-1
4,2005-01-07,AAPL,1.160714,1.236607,2.763760e+09,1.162607,2005-1,2004-1
...,...,...,...,...,...,...,...,...
4023,2020-12-24,AAPL,131.320000,131.970000,7.346393e+09,129.939000,2020-12,2019-12
4024,2020-12-28,AAPL,133.990000,136.690000,1.739429e+10,131.946000,2020-12,2019-12
4025,2020-12-29,AAPL,138.050000,134.870000,1.660476e+10,133.274000,2020-12,2019-12
4026,2020-12-30,AAPL,135.580000,133.720000,1.299396e+10,133.642000,2020-12,2019-12
4027,2020-12-31,AAPL,134.080000,132.690000,1.338030e+10,133.988000,2020-12,2019-12

In [71]:
current_test_data = test_data[test_data["date"].isin(test_data.groupby("MonthYear")["date"].max().reset_index()["date"])]
current_test_data

,date,symbol,open_adj,close_adj,dollar_volume,5-Days Rolling Average (Close),MonthYear,PriorMonthYear
19,2005-01-31,AAPL,1.331786,1.373214,2.311189e+09,1.313643,2005-1,2004-1
38,2005-02-28,AAPL,1.595714,1.602143,1.046368e+09,1.575571,2005-2,2004-2
60,2005-03-31,AAPL,1.516071,1.488214,9.479706e+08,1.508929,2005-3,2004-3
81,2005-04-29,AAPL,1.291071,1.287857,8.657513e+08,1.290857,2005-4,2004-4
102,2005-05-31,AAPL,1.452143,1.419975,5.753347e+08,1.432424,2005-5,2004-5
...,...,...,...,...,...,...,...,...
3942,2020-08-31,AAPL,127.580000,129.040000,2.911551e+10,126.041000,2020-8,2019-8
3963,2020-09-30,AAPL,113.770000,115.810000,1.575654e+10,113.072000,2020-9,2019-9
3985,2020-10-30,AAPL,111.060000,108.860000,2.074300e+10,113.406000,2020-10,2019-10
4005,2020-11-30,AAPL,116.970000,119.050000,2.016606e+10,116.138000,2020-11,2019-11
4027,2020-12-31,AAPL,134.080000,132.690000,1.338030e+10,133.988000,2020-12,2019-12

In [79]:
new_dataset = pd.merge(left=current_test_data, right=current_test_data, how="left", left_on="PriorMonthYear", right_on="MonthYear", suffixes=["_current", "prior"])
new_dataset.drop(columns=["open_adj_current", "close_adj_current", "dollar_volume_current", "MonthYear_current", "PriorMonthYear_current", "dateprior", "symbolprior", "open_adjprior", "close_adjprior", "dollar_volumeprior", "MonthYearprior", "PriorMonthYearprior"], inplace=True)
new_dataset["YoYMonthChange"] = new_dataset["5-Days Rolling Average (Close)_current"] - new_dataset["5-Days Rolling Average (Close)prior"]
new_dataset

,date_current,symbol_current,5-Days Rolling Average (Close)_current,5-Days Rolling Average (Close)prior,YoYMonthChange
0,2005-01-31,AAPL,1.313643,NaN,NaN
1,2005-02-28,AAPL,1.575571,NaN,NaN
2,2005-03-31,AAPL,1.508929,NaN,NaN
3,2005-04-29,AAPL,1.290857,NaN,NaN
4,2005-05-31,AAPL,1.432424,NaN,NaN
...,...,...,...,...,...
187,2020-08-31,AAPL,126.041000,51.6965,74.3445
188,2020-09-30,AAPL,113.072000,55.0695,58.0025
189,2020-10-30,AAPL,113.406000,61.5470,51.8590
190,2020-11-30,AAPL,116.138000,66.3765,49.7615
191,2020-12-31,AAPL,133.988000,72.4575,61.5305

In [62]:
current_test_data = pd.merge(left=test_data.groupby("MonthYear")["date"].max().reset_index(), right=test_data, how="left", on="date")
current_test_data

,MonthYear_x,date,symbol,dividend,divDeclaredDate,ratio_adj,split_factor,volume_adj,open_adj,close_adj,dollar_volume,5-Days Rolling Average (Close),MonthYear_y,PriorMonthYear
0,2005-1,2005-01-31,AAPL,NaN,NaN,NaN,56.0,1.683051e+09,1.331786,1.373214,2.311189e+09,1.313643,2005-1,2004-1
1,2005-10,2005-10-31,AAPL,NaN,NaN,NaN,28.0,9.442679e+08,1.971429,2.056786,1.942157e+09,2.004286,2005-10,2004-10
2,2005-11,2005-11-30,AAPL,NaN,NaN,NaN,28.0,5.953278e+08,2.443929,2.422143,1.441969e+09,2.443071,2005-11,2004-11
3,2005-12,2005-12-30,AAPL,NaN,NaN,NaN,28.0,6.240182e+08,2.532500,2.567500,1.602167e+09,2.603500,2005-12,2004-12
4,2005-2,2005-02-28,AAPL,NaN,NaN,0.50,28.0,6.531050e+08,1.595714,1.602143,1.046368e+09,1.575571,2005-2,2004-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,2020-5,2020-05-29,AAPL,NaN,NaN,NaN,4.0,1.535981e+08,79.812500,79.485000,1.220875e+10,79.496000,2020-5,2019-5
188,2020-6,2020-06-30,AAPL,NaN,NaN,NaN,4.0,1.402180e+08,90.020000,91.200000,1.278788e+10,90.255500,2020-6,2019-6
189,2020-7,2020-07-31,AAPL,NaN,NaN,NaN,4.0,3.814660e+08,102.883750,106.260000,4.053458e+10,97.110500,2020-7,2019-7
190,2020-8,2020-08-31,AAPL,NaN,NaN,0.25,1.0,2.256317e+08,127.580000,129.040000,2.911551e+10,126.041000,2020-8,2019-8
191,2020-9,2020-09-30,AAPL,NaN,NaN,NaN,1.0,1.360551e+08,113.770000,115.810000,1.575654e+10,113.072000,2020-9,2019-9

In [61]:
prior_test_data = pd.merge(left=test_data.groupby("PriorMonthYear")["date"].max().reset_index(), right=test_data, how="left", on="date")
prior_test_data

,PriorMonthYear_x,date,symbol,dividend,divDeclaredDate,ratio_adj,split_factor,volume_adj,open_adj,close_adj,dollar_volume,5-Days Rolling Average (Close),MonthYear,PriorMonthYear_y
0,2004-1,2005-01-31,AAPL,NaN,NaN,NaN,56.0,1.683051e+09,1.331786,1.373214,2.311189e+09,1.313643,2005-1,2004-1
1,2004-10,2005-10-31,AAPL,NaN,NaN,NaN,28.0,9.442679e+08,1.971429,2.056786,1.942157e+09,2.004286,2005-10,2004-10
2,2004-11,2005-11-30,AAPL,NaN,NaN,NaN,28.0,5.953278e+08,2.443929,2.422143,1.441969e+09,2.443071,2005-11,2004-11
3,2004-12,2005-12-30,AAPL,NaN,NaN,NaN,28.0,6.240182e+08,2.532500,2.567500,1.602167e+09,2.603500,2005-12,2004-12
4,2004-2,2005-02-28,AAPL,NaN,NaN,0.50,28.0,6.531050e+08,1.595714,1.602143,1.046368e+09,1.575571,2005-2,2004-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,2019-5,2020-05-29,AAPL,NaN,NaN,NaN,4.0,1.535981e+08,79.812500,79.485000,1.220875e+10,79.496000,2020-5,2019-5
188,2019-6,2020-06-30,AAPL,NaN,NaN,NaN,4.0,1.402180e+08,90.020000,91.200000,1.278788e+10,90.255500,2020-6,2019-6
189,2019-7,2020-07-31,AAPL,NaN,NaN,NaN,4.0,3.814660e+08,102.883750,106.260000,4.053458e+10,97.110500,2020-7,2019-7
190,2019-8,2020-08-31,AAPL,NaN,NaN,0.25,1.0,2.256317e+08,127.580000,129.040000,2.911551e+10,126.041000,2020-8,2019-8
191,2019-9,2020-09-30,AAPL,NaN,NaN,NaN,1.0,1.360551e+08,113.770000,115.810000,1.575654e+10,113.072000,2020-9,2019-9